<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Atividade 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="form">
    <ion-item>
      <ion-label position="stacked">Nome</ion-label>
      <ion-input type="text" formControlName="nome"></ion-input>
    </ion-item>
    <!-- Validação 1 -->
    <ion-item *ngIf="form.controls.nome.invalid && (form.controls.nome.dirty || form.controls.nome.touched)" color="danger">
      <div *ngIf="form.controls.nome.errors.required">Nome obrigatorio.</div>
      <div *ngIf="form.controls.nome.errors.minlength">Prescisa ter no minimo 10 caracteres.</div>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Sobrenome</ion-label>
      <ion-input type="text" formControlName="sobrenome"></ion-input>
    </ion-item>

    <!-- Validação 2 -->
    <ion-item *ngIf="form.controls.sobrenome.invalid && (form.controls.sobrenome.dirty || form.controls.sobrenome.touched)" color="danger">
      <div *ngIf="form.controls.sobrenome.errors.required">Sobrenome obrigatorio.</div>
      <div *ngIf="form.controls.sobrenome.errors.minlength">Prescisa ter no minimo 10 caracteres.</div>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Idade</ion-label>
      <ion-input type="text" formControlName="idade"></ion-input>
    </ion-item>

    <!-- Validação 3 -->
    <ion-item *ngIf="form.controls.idade.invalid && (form.controls.idade.dirty || form.controls.idade.touched)" color="danger">
      <div *ngIf="form.controls.idade.errors.required">Idade obrigatorio.</div>
      <div *ngIf="form.controls.idade.errors.minlength">Prescisa ter no minimo 3 caracteres.</div>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Cidade</ion-label>
      <ion-input type="text" formControlName="cidade"></ion-input>
    </ion-item>

    <!-- Validação 4 -->
    <ion-item *ngIf="form.controls.cidade.invalid && (form.controls.cidade.dirty || form.controls.cidade.touched)" color="danger">
      <div *ngIf="form.controls.cidade.errors.required">Cidade obrigatorio.</div>
      <div *ngIf="form.controls.cidade.errors.minlength">Prescisa ter no minimo 3 caracteres.</div>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Estado(UF)</ion-label>
      <ion-input type="text" formControlName="estado"></ion-input>
    </ion-item>

    <!-- Validação 5 -->
    <ion-item *ngIf="form.controls.estado.invalid && (form.controls.estado.dirty || form.controls.estado.touched)" color="danger">
      <div *ngIf="form.controls.estado.errors.required">Estado obrigatorio.</div>
      <div *ngIf="form.controls.estado.errors.minlength">Prescisa ter no minimo 2 caracteres.</div>
    </ion-item>

    <ion-button expand="default" [disabled] ="!form.valid"   (click)="salvar()">Salvar</ion-button>

  </form>

</ion-content>
